* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

.container {
    min-height: 350px;
}


.heading {
    margin: 50px 80px;
    text-align: center;
}

/* for admin navbar  */

nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: orangered;
    font-weight: bold;
    font-size: 38px;
    cursor: pointer;
}

.logo a img {
    margin-top: 20px;
}

.list ul {
    display: flex;
    font-size: 18px;
    list-style: none;
    justify-content: space-between;
}

.list ul li a {
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.list ul li a:hover {
    color: orangered;
}




.option button {
    padding: 7px;
    border-radius: 9px;
    width: 100px;
    height: 33px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    color: white;

}

.option button a {
    text-decoration: none;
    color: white;
}

.option button:hover {
    border: 3px solid wheat;
}


/* for footer  */

footer {

    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 220px;
    background-color: #091D47;
    color: white;
    margin-top: 30px;
    box-sizing: border-box;
}

.list ul a {
    text-decoration: none;
    color: white;
}

.list ul a:hover {
    /* text-decoration: underline; */
    color: orangered;
}

.list ul {
    display: flex;
    font-size: 18px;
    list-style: none;
    justify-content: space-between;
}

.list ul li {
    margin-right: 30px;
    cursor: pointer;

}

/* for users form  */
.users {
    margin:5px auto;
    width: 98%;
}


.carform {
    height: 590px;
    margin: 30px auto;
    text-align: start;
    width: 550px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: auto;
    scrollbar-color: orangered white;
    scrollbar-arrow-color: orangered;
    scrollbar-width: thin;
}



.update {
    margin: 20px auto;
}

.carform .regcls-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background: #ed5506;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.carform form input[type="text"],
.carform form input[type="tel"],
.carform form input[type="email"],
.carform form input[type="password"],
.carform form input[type="file"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid#222;
    border-radius: 5px;
}

.carform form input[type="password"] {
    margin-top: 5px;
    display: block;


}

#transmission {
    padding: 6px;
    cursor: pointer;
    border: 1px solid#222;
    outline: none;
    border-radius: 9px;

}

#fuelType{
    padding: 6px;
    cursor: pointer;
    border: 1px solid#222;
    outline: none;
    border-radius: 9px;

}




.carform form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: #ed5506;
    color: white;
    cursor: pointer;
}

.carform h2 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.carform h2 span {
    color: #ed5506;
}

.pr {
    display: flex;
    justify-content: space-around;
}



.return {
    text-align: start;
    width: 50%;
}

/* for users tabe  */
table {
    margin: 30px auto;
    width: 100%;
    height: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #FF5733;
}

th {
    background-color: #FF5733;

    color: white;
}



tr {
    background-color: #FFE4B2;
}

.Update {
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: green;
    color: white;
    cursor: pointer;
}

.Update a {
    text-decoration: none;
    color: white;
}

.Delete a {
    text-decoration: none;
    color: white;
}

.Delete {
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: red;
    color: white;
    cursor: pointer;
}
.Approve{
    width: 60px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background: green;
    color: white;
    cursor: pointer;
}
.Approve a {
    text-decoration: none;
    color: white;
}

/* for cars form  */


.popup1 {
    margin: 80px auto;
    text-align: start;
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
}





.popup1 h2 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup1 h2 span {
    color: #ed5506;
}

.popup1 form label {
    font-size: 14px;
    color: #222;


}

.popup1 form input[type="email"],
.popup1 form input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 7px;
    outline: none;
    border: 1px solid#222;
    border-radius: 5px;
}

.popup1 form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: #ed5506;
    color: white;
    cursor: pointer;
}

.popup1 form a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}